<div
  id="datalist"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">DATA LIST</h5>
        <button
          type="button"
          class="btn-close"
          id="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive export-table">
          <table
            class="table table-bordered text-nowrap key-buttons border-bottom"
            id="datatable">
            <thead>
              <tr>
                <th class="text-center">DATE</th>
                <th class="text-center">APP RISK</th>
                <th class="text-center">SRCCOUNTRY</th>
                <th class="text-center">MESSAGE</th>
                <th class="text-center">RATE METHOD</th>
                <th class="text-center">PATH</th>
                <th class="text-center">HOSTNAME</th>
                <th class="text-center">SRC IP</th>
                <th class="text-center">DEV NAME</th>
                <th class="text-center">LEVEL</th>
                <th class="text-center">DIRECTION</th>
                <th class="text-center">SERVICE</th>
              </tr>
            </thead>
          </table>
          <div class="text-center">
          <div class="lds-facebook" id="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
